{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "semi": true,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ["**/*.json5"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
